name: lint-test
on: [push]
permissions:
  contents: read

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: check valid sh
        run: shellcheck tests/*.sh

      - uses: actions/setup-go@v4

      - name: Install dependencies
        run: go get .

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.54

      - name: Build
        run: go build -v ./...

      - name: Generate structs
        run: ./tests/starter-site.sh

      - name: Run tests
        run: go test -v ./... && git diff fixtures
