name: lint-test
on: [push]
permissions:
  contents: read

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: check valid sh
        run: shellcheck **/*.sh

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: ">=1.25.3"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9
        with:
          version: latest

      - name: Install dependencies
        run: go get .

      - name: Build
        run: go build

      - name: Generate structs
        run: ./tests/starter-site.sh

      - name: Run tests
        run: go test -v ./... && git diff fixtures
